<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Yoshimi-data>
<Yoshimi-data Yoshimi-author="Alan Ernest Calvert" Yoshimi-major="2"
Yoshimi-minor="3" Yoshimi-revision="2">
<INFORMATION>
<string name="XMLtype">Config Base</string>
</INFORMATION>
<BASE_PARAMETERS>
<par_bool name="enable_gui" value="yes" />
<par_bool name="enable_splash" value="yes" />
<par_bool name="enable_CLI" value="yes" />
<par_bool name="enable_single_master" value="no" />
<par_bool name="banks_checked" value="yes" />
<parU name="handle_padsynth_build" value="0" />
<par_bool name="enable_auto_instance" value="no" />
<parU name="active_instances" value="1" />
<par name="show_CLI_context" value="1" />
<par name="gzip_compression" value="3" />
<string name="guide_version"></string>
<string name="manual"></string>
</BASE_PARAMETERS>
</Yoshimi-data>
